<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- <span>Pumping Steel Manager</span> -->

  <span class="fill-remaining-spacer"></span>
  <button mat-button *ngIf="!loggedIn" (click)="login()">Login</button>
  <span *ngIf="loggedIn" routerLink="current-entry" routerLinkActive="active">
      {{ userName }}
  </span>
  <button mat-button [matMenuTriggerFor]="toolbarMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #toolbarMenu="matMenu">
    <button mat-menu-item readonly>Workouts</button>
    <button mat-menu-item routerLink="start" routerLinkActive="active">Exercises</button>
    <button mat-menu-item readonly>History</button>
    <button mat-menu-item readonly>New Workout</button>
    <button mat-menu-item routerLink="create-exercise" routerLinkActive="active">New Exercise</button>
  </mat-menu>
</mat-toolbar>