<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" formControlName="email" name="email" required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">E-mail is required</div>
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </mat-form-field>
        </div>
        <mat-spinner [style.display]="loading ? 'inline' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="loading" color="primary">Login</button>
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
      </mat-card-actions>
    </form>
  </mat-card>
</div>