<div class="flex-container-column mw-50 center">
  <h3>
    Edit exercise
  </h3>
  <mat-form-field>
    <input matInput [(ngModel)]="exercise.name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="exercise.type" placeholder="Type">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="exercise.level" placeholder="Level">
  </mat-form-field>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>