.flex-container {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
}

@media all and (max-width: 720px) {
  .flex-container {
    // justify-content: flex-start;
  }
}

.flex-item {
  width: 158px;
  height: auto;
  // min-height: 158px;
  margin-top: 5px;
  color: white;
  font-size: 1em;
}

.mat-card-title {
  font-size: 16px;
}
.mat-card-subtitle {
  font-size: 14px;
}
