<div class="flex-container" fxLayout.cs="column">
  <div *ngFor="let exercise of dataSource">
    <mat-card class="flex-item">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{ exercise.name }}</mat-card-title>
      <mat-card-subtitle>{{ exercise.type }}</mat-card-subtitle>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          Description: ...
        </p>
        <p>
          Level: {{ exercise.level }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-container">
          <span class="fill-remaining-spacer"></span>
          <app-button label="Queue for workout" (onClick)="addExercise(exercise)"></app-button>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
</div>

<!-- <mat-card-title>	Card title
    <mat-card-subtitle>	Card subtitle
    <mat-card-content>	Primary card content. Intended for blocks of text
    <img mat-card-image>	Card image. Stretches the image to the container width
    <mat-card-actions>	Container for buttons at the bottom of the card
    <mat-card-footer>	Section anchored to the bottom of the card -->