<div class="flex-container-column mw-80 center">
    <h3>
        {{title}}
    </h3>
    <mat-form-field>
        <input matInput [(ngModel)]="exercise.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="exercise.type" placeholder="Type">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="exercise.level" placeholder="Level">
            <mat-option value=""></mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex-container center">
        <app-button label="Save" onClick="save()"></app-button>
        <app-button label="Cancel" onClick="cancel()"></app-button>
    </div>
</div>