<h2>Exercises</h2>
<div class="flex-container" fxLayout.cs="column">
  <div *ngFor="let exercise of dataSource">
    <mat-card class="flex-item">

      <mat-card-title>
        <div class="button-container">
          {{ exercise.name }}
          <div class="spacer"></div>
          <confirm-button label="X" confirmMessage="Do you confirm the deletion of {{exercise.name}} {{exercise.type}}?"
            (onClick)="delete(exercise)">
          </confirm-button>
        </div>
      </mat-card-title>
      <mat-card-subtitle>{{ exercise.type }}</mat-card-subtitle>

      <mat-card-content>
        <p>
          Level: {{ exercise.level }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <div class="button-container">
          <span class="spacer"></span>
          <edit-button (onClick)="edit(exercise)"></edit-button>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
</div>

<!-- <mat-card-title>	Card title
    <mat-card-subtitle>	Card subtitle
    <mat-card-content>	Primary card content. Intended for blocks of text
    <img mat-card-image>	Card image. Stretches the image to the container width
    <mat-card-actions>	Container for buttons at the bottom of the card
    <mat-card-footer>	Section anchored to the bottom of the card -->