<!-- <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->
      
<mat-card class="container">
  <mat-card-header>
    <mat-card-title>
      <p>
        {{ entryDetail.exercise.name }}
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput [(ngModel)]="entryDetailToSave.weight" placeholder="Weight">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="entryDetailToSave.reps" placeholder="Reps">
    </mat-form-field>
    <span>
      <p>
        x
      </p>
    </span>
    <mat-form-field>
      <input matInput [(ngModel)]="entryDetailToSave.sets" placeholder="Sets">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="entryDetailToSave.rest" placeholder="Rest">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Done</button>
  </mat-card-actions>
</mat-card>